# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\教学\软件测试\实验\单元测试\10.编写JUnit测试.1304048154181666\junit-test\junit-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
