<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test2</title>
    <!--<link rel="stylesheet" href="../../static/js/semantic.css"/>-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

    <script type="text/javascript" src="../../static/js/jquery-1.7.2.js"></script>
    <!--<script src="../../static/js/semantic.min.js"></script>-->
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
<hr/>
<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="../../img/背景13.jpg">
        </div>
        <div class="content">
            <div class="header">箭头谷露营</div>
            <div class="meta">
                <span class="price">1200 美元</span>
                <span class="stay">1 个月</span>
            </div>
            <div class="description">
                <p>你好</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="../../img/背景13.jpg">
        </div>
        <div class="content">
            <div class="header">Buck's Homebrew Stayaway</div>
            <div class="meta">
                <span class="price">1000 美元</span>
                <span class="stay">2 周</span>
            </div>
            <div class="description">
                <p>哈哈哈</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="../../img/背景13.jpg">
        </div>
        <div class="content">
            <div class="header">Astrology Camp</div>
            <div class="meta">
                <span class="price">1600 美元</span>
                <span class="stay">6 周</span>
            </div>
            <div class="description">
                <p>牛的嘞</p>
            </div>
        </div>
    </div>
</div>
<hr/>

<table class="ui very basic collapsing celled table">
    <thead>
    <tr><th>Employee</th>
        <th>Correct Guesses</th>
    </tr></thead>
    <tbody>
    <tr>
        <td>
            <h4 class="ui image header">
                <img src="../../img/背景13.jpg" class="ui mini rounded image">
                <div class="content">
                    Lena
                    <div class="sub header">Human Resources
                    </div>
                </div>
            </h4></td>
        <td>
            22
        </td>
    </tr>
    <tr>
        <td>
            <h4 class="ui image header">
                <img src="../../img/背景13.jpg" class="ui mini rounded image">
                <div class="content">
                    Matthew
                    <div class="sub header">Fabric Design
                    </div>
                </div>
            </h4></td>
        <td>
            15
        </td>
    </tr>
    <tr>
        <td>
            <h4 class="ui image header">
                <img src="../../img/背景13.jpg" class="ui mini rounded image">
                <div class="content">
                    Lindsay
                    <div class="sub header">Entertainment
                    </div>
                </div>
            </h4></td>
        <td>
            12
        </td>
    </tr>
    <tr>
        <td>
            <h4 class="ui image header">
                <img src="../../img/背景13.jpg" class="ui mini rounded image">
                <div class="content">
                    Mark
                    <div class="sub header">Executive
                    </div>
                </div>
            </h4></td>
        <td>
            11
        </td>
    </tr>
    </tbody>
</table>
<script>

</script>
</body>
</html>